/* image text alignment */
.imgleft {
    text-align: left;
}

img.meetteam {
    width: 150px;
    height: 150px;
    float: right;
}

.ontourlist {
    left-margin: 10px;
}
.ontouritem {
    font-size: 0.8rem;
}