---
layout: default
format: blog-index
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}

    <div class="row t30">
        <div class="medium-8 columns">
            {% for post in site.posts limit:3 %}
            
            <p class="subheadline"><span class="subheader">{% if post.categories %}{{ post.categories | join: ' &middot; ' }}{% endif %}</span>  {% if post.subheadline %}{{ post.subheadline }}{% endif %}</p>
            
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
			{% if post.author %}
            {% assign author = site.data.authors[post.author] %}
			<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class="pr20">by <a href="{{ author.url }}" target="_blank">{{ author.name }}</a> &middot; {{ post.date | date: "%B %-d, %Y"}}</span>
			</span>
			{% endif %}
            </p>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}<br />
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
            
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='5' offset='3' %}
            
        </div><!-- /.medium-5.columns -->

            {% if page.widget-1.title %}
        <div class="medium-4 columns">
                <a href="{% if page.widget-1.url contains 'http' %}{{ page.widget-1.url }}{% else %}{{ site.baseurl }}/{{ page.widget-1.url }}{% endif %}">{% if page.widget-1.image %}<img src="{{ site.urlimg }}/{{ page.widget-1.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-1.video %}{{ page.widget-1.video }}{% endif %}</a>
                <h2 class="font-size-h3 t5">{{ page.widget-1.title }}</h2>
                <p>{{ page.widget-1.text }}</p>
                <p><a class="button tiny radius" href="{% if page.widget-1.url contains 'http' %}{{ page.widget-1.url }}{% else %}{{ site.url }}{{ site.baseurl }}/{{ page.widget-1.url }}{% endif %}">{{ site.data.language.more }}</a></p>
        </div><!-- /.medium-4.columns -->
            {% endif %}
       
    {% if page.widget-2.title %}
    <div class="medium-4 columns">
        <a href="{% if page.widget-2.url contains 'http' %}{{ page.widget-2.url }}{% else %}{{ site.baseurl }}/{{ page.widget-2.url }}{% endif %}">{% if page.widget-2.image %}<img src="{{ site.urlimg }}/{{ page.widget-2.image }}" alt="">{% endif %}{% if page.widget-2.video %}{{ page.widget-2.video }}{% endif %}</a>
        <h2 class="font-size-h3 t10">{{ page.widget-2.title }}</h2>
        <p>{{ page.widget-2.text }}</p>
        <p><a class="button tiny radius" href="{% if page.widget-2.url contains 'http' %}{{ page.widget-2.url }}{% else %}{{ site.baseurl }}/{{ page.widget-2.url }}{% endif %}">Visit MPC&#39;s Website ›</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}
            
    </div><!-- /.row -->
{% endunless %}


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">

    {% if page.widget-3.title %}
    <div class="medium-4 columns">
        <a href="{% if page.widget-3.url contains 'http' %}{{ page.widget-3.url }}{% else %}{{ site.baseurl }}/{{ page.widget-3.url }}{% endif %}">{% if page.widget-3.image %}<img src="{{ site.urlimg }}/{{ page.widget-3.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-3.video %}{{ page.widget-3.video }}{% endif %}</a>
        <a href="{{ page.widget-3.url }}">{% if page.widget-3.image %}<img class="lazy" data-src="{{ site.urlimg }}/{{ page.widget-3.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-3.video %}{{ page.widget-3.video }}{% endif %}</a>
        <h2 class="font-size-h3 t10">{{ page.widget-3.title }}</h2>
        <p>{{ page.widget-3.text }}</p>
        <p><a class="button tiny radius" href="{% if page.widget-3.url contains 'http' %}{{ page.widget-3.url }}{% else %}{{ site.baseurl }}/{{ page.widget-3.url }}{% endif %}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}
    
    {% if page.widget-4.title %}
    <div class="medium-4 columns">
        <a href="{% if page.widget-4.url contains 'http' %}{{ page.widget-4.url }}{% else %}{{ site.baseurl }}/{{ page.widget-4.url }}{% endif %}">{% if page.widget-4.image %}<img src="{{ site.urlimg }}/{{ page.widget-4.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-4.video %}{{ page.widget-4.video }}{% endif %}</a>
        <h2 class="font-size-h3 t10">{{ page.widget-4.title }}</h2>
        <p>{{ page.widget-4.text }}</p>
        <p><a class="button tiny radius" href="{% if page.widget-4.url contains 'http' %}{{ page.widget-4.url }}{% else %}{{ site.baseurl }}/{{ page.widget-4.url }}{% endif %}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}
</div><!-- /.row -->

{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
